.NovoProjeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NovoProjeto h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.NovoProjeto p {
  width: 80%;
}